@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Moneygraphy-Rounded';
  src: url('/public/fonts/Moneygraphy-Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    /* cursor: none; */
  }